body {
  background-color: var(--main-background-color);
  color: var(--main-text);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @include mq('desktop') {
    font-size: 20px;
    line-height: 1.2;
  }

  &.dark-theme {
    --dots-color: #fff;
    --main-background-color: rgb(21, 21, 21);
    --modal-color: #373737;
    --main-text: rgb(202, 200, 200);
    --team-modal-background: #373737;
    --secondary-background-color: rgb(21, 21, 21);
    --secondary: rgb(202, 200, 200);
    --table-color: rgb(202, 200, 200);
    --arrow-pagination-color: rgb(184, 176, 176);
    --backside-card: #505050;
    --movie-card-shadow: 0 1px 10px rgb(248, 246, 246),
      -23px 0 20px -23px rgba(255, 255, 255),
      23px 0 20px -23px rgba(209, 203, 203), 0 0 40px rgba(255, 240, 240);
  }

  // SCROLL
  scrollbar-width: thin;

  /* полоса прокрутки (скроллбар) */
  ::-webkit-scrollbar {
    width: 8px;
    /* ширина для вертикального скролла */
    height: 8px;
    /* высота для горизонтального скролла */
    background-color: var(--backdrop-color);
    border-radius: 4px;
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn-up);
  }

  /* Стрелки */
  ::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg,
        var(--table-color) 40%,
        rgba(0, 0, 0, 0) 41%),
      linear-gradient(240deg, var(--table-color) 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(0deg, var(--table-color) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: var(--scroll-background);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-button:vertical:end:increment {
    background: linear-gradient(300deg,
        var(--table-color) 40%,
        rgba(0, 0, 0, 0) 41%),
      linear-gradient(60deg, var(--table-color) 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(180deg, var(--table-color) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: var(--scroll-background);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-button:horizontal:start:decrement {
    background: linear-gradient(30deg,
        var(--table-color) 40%,
        rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, var(--table-color) 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(270deg, var(--table-color) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: var(--scroll-background);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-button:horizontal:end:increment {
    background: linear-gradient(210deg,
        var(--table-color) 40%,
        rgba(0, 0, 0, 0) 41%),
      linear-gradient(330deg, var(--table-color) 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(90deg, var(--table-color) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: var(--scroll-background);
    border-radius: 4px;
  }
}

body.modal-open {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}