body {
  background-color: var(--white);
  color: var(--main-text);
  font-family: var(--main-font);
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: hidden;
}
