body {
  background-color: var(--main-background-color);
  color: var(--main-text);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @include mq('desktop') {
    font-size: 20px;
    line-height: 1.2;
  }
}

html {
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: hidden;
}
