@import './utils/fonts';
@import './utils/mixin';
@import './utils/variables';
@import './utils/placeholders';
@import './utils/visually-hidden';

@import './base/base';
@import './base/common';
@import './base/container';
@import './base/reset-styles';

@import './components/button-change-theme';
@import './components/button';
@import './components/movieCard';
@import './components/modal.scss';
@import './components/finfoMoviecard';
@import './components/spinner';
@import './components/pagination';
@import './components/team-card';
@import './components/socials';
@import './components/btn-close';
@import './components/button-up';
@import './components/notify';

@import './layouts/header';
@import './layouts/footer';
@import './layouts/gallery';
@import './layouts/libraryHeader';
@import './layouts/mainPageHeader';
