:root {
  $dark-theme: false;

  // FONTS
  --main-font: 'Roboto', sans-serif;

  // COLORS
  --header-white: #ffffff;
  // --main-background-color: #f5f4fa;
  --main-background-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --arrow-pagination-color: #f7f7f7;
  --backside-card: #f5f2f0;
  --white: #ffffff;

  --backdrop-color: rgba(0, 0, 0, 0.2);
  --team-modal-background: rgb(246, 241, 237);

  --main-text: #333333;
  --accent: #ff6b08;
  --accent-light: #e5882c;
  --secondary: #545454;
  --dark-mode-btn: #ffffff;
  --modal-color: #ffffff;
  --attention: #ff001b;

  --btn-up: rgba(255, 107, 8, 0.8);
  --btn-close: rgba(0, 0, 0, 0.5);
  --table-color: #8c8c8c;
  --movie-card-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1);
  --scroll-background: #f6f8f4;

  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
