:root {
  // FONTS
  --main-font: 'Roboto', sans-serif;

  // COLORS
  --main-background-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --team-modal-background: rgb(246, 241, 237);
  --main-text: #333333;
  --accent: #ff6b08;
  --secondary: #545454;
  --white: #ffffff;
  --attention: #ff001b;
  --btn-up: rgba(255, 107, 8, 0.8);
  --btn-close: rgba(0, 0, 0, 0.5);
  --table-color: #8c8c8c;
  --scroll-background: #f6f8f4;

  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
