:root {
  // FONTS
  --main-font: 'Roboto', sans-serif;

  // COLORS
  --main-background-color: #f5f4fa;
  --main-text: #333333;
  --accent: #ff6b08;
  --secondary: #545454;
  --white: #ffffff;
  --attention: #ff001b;

  --secondary-background-color: #F7F7F7;
}