:root {
  // FONTS
  --main-font: 'Roboto', sans-serif;

  // COLORS
  --main-background-color: #f5f4fa;
  --secondary-background-color: #f7f7f7;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --secondary-bgc: #f7f7f7;
  --main-text: #000000;
  --accent: #ff6b08;
  --secondary: #545454;
  --white: #ffffff;
  --attention: #ff001b;
  --btn-up: rgba(255, 107, 8, 0.8);
  --btn-close: rgba(0, 0, 0, 0.5);

  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
