<section class="filter">
  <div class="container">
    <form class="filter-form" id="genres-form">
      <label class='filter-form__label' for='genre'>Genres
        <select class="filter-form__select js-genre-select" id='genre' name='genre'>
          <option value='none' aria-placeholder="please choose genre to find">...</option>
        </select>
      </label>
      <label class='filter-form__label' for='year'>Years
        <select class="filter-form__select js-year-select" id='year' name='year'>
          <option value='none' aria-placeholder="please choose year to find">...</option>
        </select>
      </label>
    </form>
  </div>
</section>