<section class="gallery" id="gallery">
  <div class="container">
    <ul class="gallery__list">
      <!-- <li class="gallery__item movie-card">
        <a href="#" class="movie-card__link" data-movie-id="13">
          <img
            class="movie-card__image"
            src="./images/poster_1-400x600.3f7ae794.jpg"
            alt="#"
            width="500"
          />
          <div class="movie-card__meta">
            <h2 class="movie-card__title">GREYHOUND</h2>
            <p class="movie-card__description">
              <span class="movie-card__genre">Drama, Action</span> |
              <span class="movie-card__year">2020</span>
            </p>
            <p class="rating-label rating-label--accent">5.9</p>
          </div>
        </a>
      </li> -->
      <!-- <li class="gallery__item movie-card">
        <a href="#" class="movie-card__link" data-movie-id="13">
          <img class="movie-card__image" src="./images/poster_1-400x600.3f7ae794.jpg" alt="#" width="500" />
          <div class="movie-card__meta">
            <h2 class="movie-card__title">GREYHOUND</h2>
            <p class="movie-card__description">
              <span class="movie-card__genre">Drama, Action</span> |
              <span class="movie-card__year">2020</span>
            </p>
            <p class="rating-label rating-label--accent">5.9</p>
          </div>
        </a>
      </li>
      <li class="gallery__item movie-card">
        <a href="#" class="movie-card__link" data-movie-id="13">
          <img class="movie-card__image" src="./images/poster_1-400x600.3f7ae794.jpg" alt="#" width="500" />
          <div class="movie-card__meta">
            <h2 class="movie-card__title">GREYHOUND</h2>
            <p class="movie-card__description">
              <span class="movie-card__genre">Drama, Action</span> |
              <span class="movie-card__year">2020</span>
            </p>
            <p class="rating-label rating-label--accent">5.9</p>
          </div>
        </a>
      </li>
      <li class="gallery__item movie-card">
        <a href="#" class="movie-card__link" data-movie-id="13">
          <img class="movie-card__image" src="./images/poster_1-400x600.3f7ae794.jpg" alt="#" width="500" />
          <div class="movie-card__meta">
            <h2 class="movie-card__title">GREYHOUND</h2>
            <p class="movie-card__description">
              <span class="movie-card__genre">Drama, Action</span> |
              <span class="movie-card__year">2020</span>
            </p>
            <p class="rating-label rating-label--accent">5.9</p>
          </div>
        </a>
      </li> -->
    </ul>
    <include src="./partials/spinner.html"></include>
  </div>
</section>
