<section class="gallery">
  <div class="container">
    <ul class="gallery__list">
      <li class="gallery__item">
        <img src="./images/Rectangle 15.jpg" alt="">
        <p>this is title</p>
        <p>this is content</p>
      </li>
      <li class="gallery__item">
        <img src="./images/Rectangle 15.jpg" alt="">
        <p>this is title</p>
        <p>this is content</p>
      </li>
      <li class="gallery__item">
        <img src="./images/Rectangle 15.jpg" alt="">
        <p>this is title</p>
        <p>this is content</p>
      </li>
      <li class="gallery__item">
        <img src="./images/Rectangle 15.jpg" alt="">
        <p>this is title</p>
        <p>this is content</p>
      </li>
    </ul>
    <include src="./partials/spinner.html"></include>
  </div>
</section>