<header class="header" id="header">
  <div class="header-container">
    <div class="nav-container">
      <a class="logo" href="./index.html">
        <svg class="icon" width="24" height="24">
          <use href="/src/images/icons.svg#icon-film"></use>
        </svg>
        <span class="name">Filmoteka</span>
      </a>

      <ul class="menu">
        <li class="menu-item">
          <a class="menu-item__link current" href="./index.html">HOME</a>
        </li>
        <li class="menu-item">
          <a class="menu-item__link" href="./myLibrary.html">MY LIBRARY</a>
        </li>
        <li class="menu-item">
          <button
            class="menu-item__link login-link"
            href=""
            data-auth-modal-open
          >
            LOGIN
          </button>
          <button class="signout-btn hidden js-signout">signout</button>
        </li>
      </ul>
    </div>
    <div class="form-container">
      <form class="search-form" action="search-form">
        <input
          class="search-input"
          name="search"
          type="text"
          placeholder="Movie search"
        />
        <button class="submit-btn" type="submit">
          <svg class="icon submit-btn__icon" width="12" height="12">
            <use href="/src/images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <include src="./partials/button-change-theme.html"></include>
  </div>
</header>
