<header class="header">
  <a class="logo" href="../index.html"
    ><img src="../images/icons.svg" alt="Логотип сайта"
  /></a>
  <form action="search-form">
    <input type="text" placeholder="Movie search" />
    <button type="submit"></button>
  </form>

  <ul class="menu">
    <li class="menu-item">
      <a class="menu-item__link" href="../index.html">HOME</a>
    </li>
    <li class="menu-item">
      <a class="menu-item__link" href="../myLibrary.html">MY LIBRARY</a>
    </li>
  </ul>
</header>
