<div class="team-backdrop is-hidden" data-team-modal>
  <div class="team js-modal">
    <button class="btn-close team__btn-close" aria-label="закрыть модальное окно" data-team-modal-close>
      <svg class="btn-close__icon" width="18px" height="18px">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="team-list accordion" id="accordion">
      <li class=" team__item accordion-item">
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Vira Voronova: Team Lead</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <picture>
            <source srcset="./images/team/vv.webp" type="image/webp">
            <source srcset="./images/team/vv.jpg" type="image/jpg">
            <img class="team-image" src="./images/team/vv.jpg" alt="Vira Voronova" width="120" height="120"
              loading="lazy">
          </picture>
          <div class="team-card__container">
            <ul class="list socials">
              <li class="socials__item">
                <a class="socials__link" href=" https://github.com/VVr17" target="_blank" rel="noreferrer noopener"
                  aria-label="link to Github">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="https://www.linkedin.com/in/vira-voronova/?locale=en_US" target="_blank"
                  rel="noreferrer noopener" aria-label="link to LinkedIn">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="team-card__description">Team Lead</p>
          </div>
        </div>
      </li>
      <li class=" team__item accordion-item">
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Yana Kirdyai: Scrum Master</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <picture>
            <source srcset="./images/team/yk.webp" type="image/webp">
            <source srcset="./images/team/yk.jpg" type="image/jpg">
            <img class="team-image" src="./images/team/yk.jpg" alt="Yana Kirdyai" width="120" height="120"
              loading="lazy">
          </picture>
          <div class="team-card__container">
            <ul class="list socials">
              <li class="socials__item">
                <a class="socials__link" href=" https://github.com/Yano4ka1" target="_blank" rel="noreferrer noopener"
                  aria-label="link to Github">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                  aria-label="link to LinkedIn">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="team-card__description">Scrum Master</p>
          </div>
        </div>
      </li>
      <li class=" team__item accordion-item">
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Anton Chertok: Front-end developer</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <picture>
            <source srcset="./images/team/ac.webp" type="image/webp">
            <source srcset="./images/team/ac.jpg" type="image/jpg">
            <img class="team-image" src="./images/team/ac.jpg" alt="Anton Chertok" width="120" height="120"
              loading="lazy">
          </picture>
          <div class="team-card__container">
            <ul class="list socials">
              <li class="socials__item">
                <a class="socials__link" href=" https://github.com/chertoha" target="_blank" rel="noreferrer noopener"
                  aria-label="link to Github">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                  aria-label="link to LinkedIn">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="team-card__description">Front-end developer</p>
          </div>
        </div>
      </li>
      <li class=" team__item accordion-item">
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Oleksandr Krokhmal: Front-end developer</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <picture>
            <source srcset="./images/team/ok.webp" type="image/webp">
            <source srcset="./images/team/ok.jpg" type="image/jpg">
            <img class="team-image" src="./images/team/ok.jpg" alt="Oleksandr Krokhmal" width="120" height="120"
              loading="lazy">
          </picture>
          <div class="team-card__container">
            <ul class="list socials">
              <li class="socials__item">
                <a class="socials__link" href=" https://github.com/Alexander-Krokhmal" target="_blank"
                  rel="noreferrer noopener" aria-label="link to Github">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                  aria-label="link to LinkedIn">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="team-card__description">Front-end developer</p>
          </div>
        </div>
      </li>
      <li class=" team__item accordion-item">
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Oleksandr Porkhun: Front-end developer</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <picture>
            <source srcset="./images/team/op.webp" type="image/webp">
            <source srcset="./images/team/op.jpg" type="image/jpg">
            <img class="team-image" src="./images/team/op.jpg" alt="Oleksandr Porkhun" width="120" height="120"
              loading="lazy">
          </picture>
          <div class="team-card__container">
            <ul class="list socials">
              <li class="socials__item">
                <a class="socials__link" href=" https://github.com/AlexLunarr" target="_blank" rel="noreferrer noopener"
                  aria-label="link to Github">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link"
                  href="https://www.linkedin.com/in/%D0%B0%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80-%D0%BF%D0%BE%D1%80%D1%85%D1%83%D0%BD-087a97170"
                  target="_blank" rel="noreferrer noopener" aria-label="link to LinkedIn">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="team-card__description">Front-end developer</p>
          </div>
        </div>
      </li>
      <li class=" team__item accordion-item">
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Denys Ostrianskyi: Front-end developer</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <picture>
            <source srcset="./images/team/do.webp" type="image/webp">
            <source srcset="./images/team/do.jpg" type="image/jpg">
            <img class="team-image" src="./images/team/do.jpg" alt="Denys Ostrianskyi" width="120" height="120"
              loading="lazy">
          </picture>
          <div class="team-card__container">
            <ul class="list socials">
              <li class="socials__item">
                <a class="socials__link" href=" https://github.com/Denix200010" target="_blank"
                  rel="noreferrer noopener" aria-label="link to Github">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="http://www.linkedin.com/in/denys-ostrianskyi" target="_blank"
                  rel="noreferrer noopener" aria-label="link to LinkedIn">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="team-card__description">Front-end developer</p>
          </div>
        </div>
      </li>
      <li class=" team__item accordion-item">
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Yuliya Tatsiy: Front-end developer</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <picture>
            <source srcset="./images/team/yt.webp" type="image/webp">
            <source srcset="./images/team/yt.jpg" type="image/jpg">
            <img class="team-image" src="./images/team/yt.jpg" alt="Yuliya Tatsiy" width="120" height="120"
              loading="lazy">
          </picture>
          <div class="team-card__container">
            <ul class="list socials">
              <li class="socials__item">
                <a class="socials__link" href=" https://github.com/uTatsii" target="_blank" rel="noreferrer noopener"
                  aria-label="link to Github">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                  aria-label="link to LinkedIn">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="team-card__description">Front-end developer</p>
          </div>
        </div>
      </li>
      <li class=" team__item accordion-item">
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Yuriy Senenko: Front-end developer</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <picture>
            <source srcset="./images/team/ys.webp" type="image/webp">
            <source srcset="./images/team/ys.jpg" type="image/jpg">
            <img class="team-image" src="./images/team/ys.jpg" alt="Yuriy Senenko" width="120" height="120"
              loading="lazy">
          </picture>
          <div class="team-card__container">
            <ul class="list socials">
              <li class="socials__item">
                <a class="socials__link" href=" https://github.com/YuriiSenenko" target="_blank"
                  rel="noreferrer noopener" aria-label="link to Github">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                  aria-label="link to LinkedIn">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="team-card__description">Front-end developer</p>
          </div>
        </div>
      </li>
      <li class=" team__item accordion-item">
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Vladyslav Bezkrevny: Front-end developer</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <picture>
            <source srcset="./images/team/vb.webp" type="image/webp">
            <source srcset="./images/team/vb.jpg" type="image/jpg">
            <img class="team-image" src="./images/team/vb.jpg" alt="Vladyslav Bezkrevny" width="120" height="120"
              loading="lazy">
          </picture>
          <div class="team-card__container">
            <ul class="list socials">
              <li class="socials__item">
                <a class="socials__link" href=" https://github.com/Vl00B" target="_blank" rel="noreferrer noopener"
                  aria-label="link to Github">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                  aria-label="link to LinkedIn">
                  <svg class="socials__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="team-card__description">Front-end developer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>