<div class="container">
    <div class="backdrop is-hidden" data-modal> 

        <div class="modal">

            <button class="modal__close-button" type="button" data-modal-close>X</button>

              <div class ='modal_container'>

                    <div class="modal__img"></div>

                    <div class="molal__info">

                        <h1 class="molal__name"></h1>

                        <table class="molal__table">

                            <tr class="molal__table-name">
                                <!-- <td class="modal__table-vote">Vote / Votes</td>
                                <td class="modal__table-popularity">Popularity</td>
                                <td class="modal__table-title">Original Title</td>
                                <td class="modal__table-genre">Genre</td> -->
                            </tr>

                            <tr class = "molal__table-description">
                                <!-- <td class="modal__table-vote"></td>
                                <td class="modal__table-popularity"></td>
                                <td class="modal__table-title"></td>
                                <td class="modal__table-genre"></td> -->
                            </tr>
                        </table>

                        <p class="modal__text-about">ABOUT</p>
                        <p class="modal__text"></p>


                        <div>
                            <button class="modal__button" type="button">ADD TO WATCHED</button>
                            <button class="modal__button" type="button">ADD TO QUEUE</button>
                        </div>


                    </div>
              </div>


        </div>
 
    </div>
</div>