<div class="team-backdrop is-hidden" data-team-modal-modal>
  <div class="team-modal js-modal">
    <button class="btn-close" aria-label="закрыть модальное окно" data-team-modal-close>
      <svg class="btn-close__icon" width="18px" height="18px">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="team-list accordion" id="accordion">
      <li class=" team__item accordion-item" accordion-item>
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Name LastName</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <img class="team-image" src="./images/template.png" alt="user photo Emily" width="85" height="85">
          <ul class="list socials">
            <li class="socials__item">
              <a class="socials__link" href="https://www.instagram.com/da_buket_/" target="_blank"
                rel="noreferrer noopener" aria-label="Посилання на Instagram">
                <svg class="socials__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                aria-label="Посилання на Telegram">
                <svg class="socials__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p class="customer-review__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam
            sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
          <p class="team__name"> primis </p>
        </div>
      </li>
      <li class=" team__item accordion-item" accordion-item>
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Name LastName</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <img class="team-image" src="./images/template.png" alt="user photo Emily" width="85" height="85">
          <ul class="list socials">
            <li class="socials__item">
              <a class="socials__link" href="https://www.instagram.com/da_buket_/" target="_blank"
                rel="noreferrer noopener" aria-label="Посилання на Instagram">
                <svg class="socials__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                aria-label="Посилання на Telegram">
                <svg class="socials__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p class="customer-review__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam
            sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
          <p class="team__name"> primis </p>
        </div>
      </li>
      <li class=" team__item accordion-item" accordion-item>
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Name LastName</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <img class="team-image" src="./images/template.png" alt="user photo Emily" width="85" height="85">
          <ul class="list socials">
            <li class="socials__item">
              <a class="socials__link" href="https://www.instagram.com/da_buket_/" target="_blank"
                rel="noreferrer noopener" aria-label="Посилання на Instagram">
                <svg class="socials__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                aria-label="Посилання на Telegram">
                <svg class="socials__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p class="customer-review__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam
            sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
          <p class="team__name"> primis </p>
        </div>
      </li>
      <li class=" team__item accordion-item" accordion-item>
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Name LastName</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <img class="team-image" src="./images/template.png" alt="user photo Emily" width="85" height="85">
          <ul class="list socials">
            <li class="socials__item">
              <a class="socials__link" href="https://www.instagram.com/da_buket_/" target="_blank"
                rel="noreferrer noopener" aria-label="Посилання на Instagram">
                <svg class="socials__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                aria-label="Посилання на Telegram">
                <svg class="socials__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p class="customer-review__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam
            sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
          <p class="team__name"> primis </p>
        </div>
      </li>
      <li class=" team__item accordion-item" accordion-item>
        <button class="accordion-button" aria-expanded="false" data-accordion-btn>
          <span class="accordion-title">Name LastName</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="team-card accordion-content">
          <img class="team-image" src="./images/template.png" alt="user photo Emily" width="85" height="85">
          <ul class="list socials">
            <li class="socials__item">
              <a class="socials__link" href="https://www.instagram.com/da_buket_/" target="_blank"
                rel="noreferrer noopener" aria-label="Посилання на Instagram">
                <svg class="socials__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#" target="_blank" rel="noreferrer noopener"
                aria-label="Посилання на Telegram">
                <svg class="socials__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p class="customer-review__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam
            sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
          <p class="team__name"> primis </p>
        </div>
      </li>
    </ul>
  </div>
</div>