<section class="pagination">
  <div class="container">
    <div class="pag">
      <!-- <a class="pag__page pag__btn pag__btn--prev" href="#">
    <svg class="icon pag__icon" width="16" height="16">
      <use href="./images/icons.svg#arrow-left"></use>
    </svg>
  </a>

  <a class="pag__page pag__page--first-number" href="#">1</a>

  <a class="pag__page pag__page--dots pag__btn--dots-prev" href="#">
    <svg class="icon" width="10" height="3">
      <use href="./images/icons.svg#dots"></use>
    </svg>
  </a>

  <a class="pag__page pag__page--number" href="#">13</a>
  <a class="pag__page pag__page--number" href="#">14</a>
  <a class="pag__page pag__page--current-number" href="#">15</a>
  <a class="pag__page pag__page--number" href="#">16</a>
  <a class="pag__page pag__page--number" href="#">17</a>

  <a class="pag__page pag__page--dots pag__btn--dots-next" href="#">
    <svg class="icon" width="10" height="3">
      <use href="./images/icons.svg#dots"></use></svg
  ></a>

  <a class="pag__page pag__page--last-number" href="#">20</a>

  <a class="pag__page pag__btn pag__btn--next" href="#">
    <svg class="icon pag__icon" width="16" height="16">
      <use href="./images/icons.svg#arrow-right"></use>
    </svg>
  </a> -->
    </div>
  </div>
</section>
