/* BUTTON_CLOSE */
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  padding: 0;
  margin: 0;

  // @include circle(30px);
  // border: 1px solid var(--white);
  border: none;

  font-size: 0;
  display: inline-block;

  background-color: transparent;
  cursor: pointer;
  color: var(--main-text);
  transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.btn-close__icon {
  fill: currentColor;
}
