.header-buttons {
  display: flex;
  justify-content: center;
}

.button {
  padding: 14px 20px;
  font-family: inherit;
  color: currentColor;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;

  transition: background-color 250ms var(--transition-timing),
    border-color 250ms var(--transition-timing),
    box-shadow 250ms var(--transition-timing),
    drop-shadow 250ms var(--transition-timing);

  &:hover,
  &:focus {
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    background-color: var(--accent);
    border-color: var(--accent);
  }

  &--dark-mode {
    border: 1px solid var(--dark-mode-btn);
    color: var(--dark-mode-btn);
  }

  &--light-mode {
    border: 1px solid var(--main-text);
    color: var(--main-text);
  }

  &--active {
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    background-color: var(--accent);
    border-color: var(--accent);
    // box-shadow: 0 0 10px 0 var(--accent) inset, 0 0 10px 4px var(--accent);
  }
}

.header-button {
  @include mq('mobile-only') {
    min-width: 130px;
  }
  @include mq('tablet') {
    min-width: 152px;
  }
  @include mq('desktop') {
    min-width: 148px;
  }

  &:not(:first-child) {
    @include mq('mobile-only') {
      margin-left: 20px;
    }
    @include mq('tablet') {
      margin-left: 32px;
    }
    margin-left: 20px;
    @include mq('desktop') {
      margin-left: 16px;
    }
  }
}
