$toggle-indicator-size: 20px;
$track-height: $toggle-indicator-size + 6;
$track-width: $toggle-indicator-size * 3;
$highContrastModeSupport: solid 2px transparent;

$light: rgb(255, 255, 255);
$mid: rgb(144, 143, 143);
$dark: #373737;

$track-border: $mid;
$track-background: $light;
$focus-ring: 0px 0px 0px 2px $dark;
$speed: 250ms;

.theme-btn {
  // position: absolute;
  // z-index: 10;
  // top: 175px;
  // right: 30px;

  align-items: center;
  border-radius: 100px;
  display: flex;
  font-weight: 700;
  margin-bottom: 16px;

  &:last-of-type {
    margin: 0;
  }
}

.toggle__input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  // position: absolute;
  white-space: nowrap;
  width: 1px;

  &:not([disabled]):active + .toggle-track,
  &:not([disabled]):focus + .toggle-track {
    border: 1px solid transparent;
    box-shadow: $focus-ring;
  }

  &:disabled + .toggle-track {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.toggle-track {
  position: absolute;
  z-index: 10;
  top: 175px;
  right: 30px;

  background: linear-gradient(
    to left,
    #03001e,
    var(--accent),
    var(--accent-light)
  );
  border: 1px solid $track-border;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: $track-height;
  // margin-right: 12px;

  width: $track-width;

  &:hover,
  &:focus {
    transition: box-shadow 200ms var(--transition-timing);
    box-shadow: 0px -4px 5px 0px rgb(254, 254, 254),
      0px -1px 1px 0px rgb(254, 254, 254);
  }
}

.toggle-indicator {
  align-items: center;
  background: $dark;
  border-radius: $toggle-indicator-size;
  box-shadow: inset 5px -10px 15px 0 rgba(0, 0, 0, 0.5);
  bottom: 2px;
  display: flex;
  height: $toggle-indicator-size;
  justify-content: center;
  left: 2px;
  outline: $highContrastModeSupport;
  position: absolute;
  transition: $speed;
  width: $toggle-indicator-size;
}

.toggle__input:checked + .toggle-track .toggle-indicator {
  background: $light;
  transform: translateX($track-width - $track-height);

  .checkMark {
    opacity: 1;
    transition: opacity $speed ease-in-out;
  }
}
