.finfo-moviecard {
  @include mq('tablet') {
    display: flex;
    margin-bottom: 20px;
  }
}

.finfo-moviecard__img {
  display: block;
  border-radius: 5px;
  width: 240px;
  height: 100%;
  margin: 0;

  @include mq('mobile-only') {
    margin-bottom: 20px;
  }

  @include mq('tablet') {
    margin-right: 68px;
  }

  @include mq('desktop') {
    margin-right: 16px;
  }
}

.finfo-moviecard__name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-text);

  @include mq('desktop') {
    font-size: 30px;
    line-height: 35px;
  }
}

.finfo-moviecard__info {
  margin-bottom: 20px;
}

.finfo-moviecard__table {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;

  @include mq('desktop') {
    padding-right: 83px;
  }
}

.finfo-moviecard__table-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--main-text);
}

.finfo-moviecard__about {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--main-text);
}

.finfo-moviecard__table-accent {
  padding: 1px 10px;
  width: 36px;
  height: 16px;
  background-color: var(--accent);
  color: var(--white);
  border-radius: 5px;
}

.finfo-moviecard__text-about {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--main-text);
}

.finfo-moviecard__text {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--main-text);
}
