.movie-modal {
  @include mq('mobile-only') {
    max-width: 480px;
  }
}

.finfo-moviecard {
  @include mq('mobile-only') {
    max-width: 320px;
    margin: 0 auto;
  }

  @include mq('tablet') {
    display: flex;
    margin-bottom: 20px;
  }
}

.finfo-moviecard__img {
  display: block;
  border-radius: 5px;
  height: 100%;
  margin: 0 auto;

  @include mq('mobile-only') {
    width: 100%;
    margin-bottom: 20px;
  }

  @include mq('tablet') {
    width: 264px;
    margin-right: 40px;
  }

  @include mq('desktop') {
    margin-right: 40px;
    width: 350px;
  }
}

.finfo-moviecard__name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-text);

  @include mq('desktop') {
    font-size: 30px;
    line-height: 35px;
  }
}

.finfo-moviecard__info {
  margin-bottom: 20px;
}

.finfo-moviecard__table {
  display: flex;
  min-width: 215px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--table-color);

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  @include mq('desktop') {
    width: 260px;
  }
}

.finfo-moviecard__table-title {
  text-align: left;
  min-width: 100px;
}

.finfo-moviecard__table-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text);
}

.finfo-moviecard__about {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text);
}

.finfo-moviecard__text-about {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--main-text);
}

.finfo-moviecard__text {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--main-text);
  max-height: 145px;
  overflow-y: scroll;

  @include mq('desktop') {
    max-height: 260px;
  }
}

.moviecard-buttons__contanier {
  display: flex;
  gap: 20px;
}

.finfo-moviecard__button {
  padding: 14px 10px;
  flex-basis: calc((100% - 20px) / 2);
}
