.notify {
  z-index: 1;
  opacity: 100%;
  transition: opacity 1000ms var(--transition-timing);

  &.failure,
  &.success {
    opacity: 100%;
  }

  &.invisible {
    opacity: 0%;
  }
}

.failure,
.success {
  position: absolute;
  display: flex;
  // top: 230px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 95%;
  padding: 10px;
  min-width: 100px;
  min-height: 40px;
  border-radius: 10px;

  box-shadow: 5px 10px 10px 0px rgba(31, 29, 31, 0.48);

  font-size: 17px;

  @include mq('tablet') {
    // width: 250px;
    // top: 210px;
    width: 400px;
  }

  // @include mq('desktop') {
  //   width: 360px;
  //   // top: 100px;
  // }
}

.failure {
  border: thin solid var(--secondary);

  background-color: var(--failure-notify);
  color: var(--header-white);
}

.success {
  border: thin solid var(--secondary);

  background-color: var(--success-notify);
  color: var(--header-white);
}
