/* BUTTON_CLOSE */
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  padding: 0;
  margin: 0;

  @include circle (30px);
  border: 1px solid var(--btn-close-color);

  font-size: 0; 
  display: inline-block;

  background-color: transparent;
  cursor: pointer;
  color: var(--accent-text-color);
  transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: vaR(--accent-color);
  }
}

.btn-close__icon {
  fill: currentColor;
}
