.modal {
  position: relative;
  transform: scale(1);
  transition: transform 250ms var(--transition-timing);
  border-radius: 4px;
  background-color: var(--white);
  padding: 40px 20px;

  @media screen and (min-width: 480px) and (orientation: portrait) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 420px;
    padding: 40px 30px;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 480px) and (orientation: landscape) {
    position: relative;
    margin: auto auto;
    width: 420px;
    padding: 40px 30px;
    transform: scale(1);
  }

  @media screen and (min-width: 768px) {
    padding: 40px;
  }

  @media screen and (min-width: 768px) and (min-height: 655px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1440px) {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(0.3);

  @media screen and (min-width: 480px) and (orientation: portrait) {
    transform: translate(-50%, -50%) scale(0.3);
  }

  @media screen and (min-width: 480px) and (orientation: landscape) {
    transform: scale(0.3);
  }

  @media screen and (min-width: 768px) and (min-height: 655px) {
    transform: translate(-50%, -50%) scale(0.3);
  }
}
