.footer{
    
    padding: 30px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.36;

    background-color: var(--secondary-background-color);
    color: var(--secondary);

    @include mq('mobile'){
        font-size: 16px;

    }
}

.footer-groop {
    text-align: center;
    margin: 0 auto;

}

.footer__icon{
    margin-left: 10px;
    margin-right: 10px;
}

.footer__link{
    text-decoration-line: underline;
    cursor: pointer;
}