.gallery {
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: var(--white);

  @include mq('tablet') {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery__list {
  @include mq('tablet') {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.gallery__item {
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1);
  text-align: center;

  @include mq('mobile-only') {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include mq('tablet') {
    flex-basis: calc((100% - 32px) / 2);
  }

  @include mq('desktop') {
    flex-basis: calc((100% - 66px) / 3);
  }
}