.header {
    background-image: url(../images/header-background-mob.jpg);
    background-position: center;
        background-size: cover;
   height: 230px;
   padding: 40px 20px 92px 20px;
    // margin: 0 auto 0 auto;
}
.logo {
    margin-right: 112px;
}
.header-container {
   display: flex; 
}
.search-form {

border-bottom: 0.5px;
}
.menu {
display: flex;
}

.menu-item:last-child {
margin-left: 40px;
}

.menu-item__link {
    color: var(--white);
    font-family: var(--main-font);
    font-weight: 500;
}