.header {
  position: relative;
  background-position: center;
  background-size: cover;

  @include mq('mobile-only') {
    padding: 30px 20px 70px 20px;
    background-image: url(../images/header-img/header-background-mob.jpg);
  }
  @include mq('tablet') {
    padding: 30px 32px 70px 32px;
    background-image: url(../images/header-img/header-background-tab.jpg);
  }

  @include mq('desktop') {
    padding: 30px 32px 70px 32px;
    background-image: url(../images/header-img/header-background-desk.jpg);
  }
}

.dark-image {
  background-image: url(../images/header-img/dark-header.jpg);
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container {
  //   outline: solid 1 tomato;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  &:hover,
  &:focus {
    transition: text-shadow 200ms var(--transition-timing);
    text-shadow: 0px -4px 5px 0px rgb(254, 254, 254),
      0px -1px 1px 0px rgb(254, 254, 254);
  }

  @include mq('tablet') {
    transform: translateY(-20px);
  }
}
.icon {
  border-radius: 5px;

  &:hover,
  &:focus {
    transition: box-shadow 200ms var(--transition-timing);
    box-shadow: 0px -4px 5px 0px rgb(254, 254, 254),
      0px -1px 1px 0px rgb(254, 254, 254);
  }
}

.name {
  display: none;

  margin-left: 10px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;

  color: var(--header-white);

  @include mq('tablet') {
    display: inline;
  }
}

.menu {
  // outline: solid 1 tomato;
  display: flex;
}

.menu-item:not(:first-child) {
  margin-left: 40px;
}

.menu-item__link {
  // outline: solid 1 tomato;
  padding: 10px 10px;
  display: block;
  align-items: center;
  color: var(--header-white);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    transition: color 250ms var(--transition-timing);
    transition: text-shadow 200ms var(--transition-timing);
    // color: var(--attention);
    text-shadow: 0px -4px 5px 0px rgb(254, 254, 254),
      0px -1px 1px 0px rgb(254, 254, 254);
  }
}

.menu-item__link::after {
  content: '';
  display: block;

  border-radius: 1;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: var(--attention);

  box-shadow: 0px -1px 1px 0px rgb(254, 254, 254, 0.3),
    0px -7px 8px 5px rgba(246, 243, 243, 0.5);

  transform: scaleX(0);
}

.current::after {
  transform: scaleX(1);
}
