$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

.form-container {
  // outline: solid 1 tomato;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.search-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--header-white);
  margin-bottom: -1px;

  width: 280px;

  @media screen and (min-width: $tablet) {
    width: 336px;
  }

  @media screen and (min-width: $desktop) {
    width: 394px;
  }
}

.search-form::after {
  content: attr(data-message);
  color: var(--accent);
  font-size: 14px;
  font-weight: 400;

  position: absolute;
  bottom: -20px;

  width: 280px;
  height: 0px;

  @include mq('tablet') {
    width: 336px;
  }

  @include mq('desktop') {
    width: 394px;
  }
}

.search-input {
  width: 100%;
  height: 20px;
  border: none;

  background: transparent;
  outline: none;
  color: var(--header-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  &::placeholder {
    color: var(--header-white);
  }
}

.submit-btn {
  width: 20px;
  display: flex;
  position: relative;
  z-index: 2;
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.submit-btn__icon {
  margin-left: auto;
  transform: translateY(5px);
}

.submit-btn__icon:hover {
  transition: color 250ms var(--transition-timing);
  transition: text-shadow 200ms var(--transition-timing);
  color: var(--attention);
  box-shadow: 0px -4px 5px 0px rgb(254, 254, 254),
    0px -1px 1px 0px rgb(254, 254, 254);
}
